
MenuService/bin/Debug/net6.0/appsettings.Development.json
MenuService/bin/Debug/net6.0/appsettings.json
MenuService/bin/Debug/net6.0/MenuService.deps.json
MenuService/bin/Debug/net6.0/MenuService.dll
MenuService/bin/Debug/net6.0/MenuService.exe
MenuService/bin/Debug/net6.0/MenuService.pdb
MenuService/bin/Debug/net6.0/MenuService.runtimeconfig.json
MenuService/bin/Debug/net6.0/Microsoft.OpenApi.dll
MenuService/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
MenuService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MenuService/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MenuService/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MenuService/obj/Debug/net6.0/apphost.exe
MenuService/obj/Debug/net6.0/MenuService.AssemblyInfo.cs
MenuService/obj/Debug/net6.0/MenuService.AssemblyInfoInputs.cache
MenuService/obj/Debug/net6.0/MenuService.assets.cache
MenuService/obj/Debug/net6.0/MenuService.csproj.AssemblyReference.cache
MenuService/obj/Debug/net6.0/MenuService.csproj.CopyComplete
MenuService/obj/Debug/net6.0/MenuService.csproj.CoreCompileInputs.cache
MenuService/obj/Debug/net6.0/MenuService.csproj.FileListAbsolute.txt
MenuService/obj/Debug/net6.0/MenuService.dll
MenuService/obj/Debug/net6.0/MenuService.GeneratedMSBuildEditorConfig.editorconfig
MenuService/obj/Debug/net6.0/MenuService.genruntimeconfig.cache
MenuService/obj/Debug/net6.0/MenuService.GlobalUsings.g.cs
MenuService/obj/Debug/net6.0/MenuService.MvcApplicationPartsAssemblyInfo.cache
MenuService/obj/Debug/net6.0/MenuService.MvcApplicationPartsAssemblyInfo.cs
MenuService/obj/Debug/net6.0/MenuService.pdb
MenuService/obj/Debug/net6.0/ref/MenuService.dll
MenuService/obj/Debug/net6.0/refint/MenuService.dll
MenuService/obj/Debug/net6.0/staticwebassets.build.json
MenuService/obj/Debug/net6.0/staticwebassets/msbuild.build.MenuService.props
MenuService/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MenuService.props
MenuService/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MenuService.props
MenuService/obj/MenuService.csproj.nuget.dgspec.json
MenuService/obj/MenuService.csproj.nuget.g.props
MenuService/obj/MenuService.csproj.nuget.g.targets
MenuService/obj/project.assets.json
MenuService/obj/project.nuget.cache
SweetPea.Data/bin/Debug/net6.0/SweetPea.Domain.deps.json
SweetPea.Data/bin/Debug/net6.0/SweetPea.Domain.dll
SweetPea.Data/bin/Debug/net6.0/SweetPea.Domain.pdb
SweetPea.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SweetPea.Data/obj/Debug/net6.0/ref/SweetPea.Domain.dll
SweetPea.Data/obj/Debug/net6.0/refint/SweetPea.Domain.dll
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.AssemblyInfo.cs
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.AssemblyInfoInputs.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.assets.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.csproj.AssemblyReference.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.GeneratedMSBuildEditorConfig.editorconfig
SweetPea.Data/obj/Debug/net6.0/SweetPea.Data.GlobalUsings.g.cs
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.AssemblyInfo.cs
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.AssemblyInfoInputs.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.assets.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.csproj.AssemblyReference.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.csproj.CoreCompileInputs.cache
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.csproj.FileListAbsolute.txt
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.dll
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.GeneratedMSBuildEditorConfig.editorconfig
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.GlobalUsings.g.cs
SweetPea.Data/obj/Debug/net6.0/SweetPea.Domain.pdb
SweetPea.Data/obj/project.assets.json
SweetPea.Data/obj/project.nuget.cache
SweetPea.Data/obj/SweetPea.Data.csproj.nuget.dgspec.json
SweetPea.Data/obj/SweetPea.Data.csproj.nuget.g.props
SweetPea.Data/obj/SweetPea.Data.csproj.nuget.g.targets
SweetPea.Data/obj/SweetPea.Domain.csproj.nuget.dgspec.json
SweetPea.Data/obj/SweetPea.Domain.csproj.nuget.g.props
SweetPea.Data/obj/SweetPea.Domain.csproj.nuget.g.targets
SweetPea.Repository/bin/Debug/net6.0/SweetPea.Repository.deps.json
SweetPea.Repository/bin/Debug/net6.0/SweetPea.Repository.dll
SweetPea.Repository/bin/Debug/net6.0/SweetPea.Repository.pdb
SweetPea.Repository/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SweetPea.Repository/obj/Debug/net6.0/ref/SweetPea.Repository.dll
SweetPea.Repository/obj/Debug/net6.0/refint/SweetPea.Repository.dll
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.AssemblyInfo.cs
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.AssemblyInfoInputs.cache
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.assets.cache
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.csproj.AssemblyReference.cache
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.csproj.CoreCompileInputs.cache
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.csproj.FileListAbsolute.txt
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.dll
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.GeneratedMSBuildEditorConfig.editorconfig
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.GlobalUsings.g.cs
SweetPea.Repository/obj/Debug/net6.0/SweetPea.Repository.pdb
SweetPea.Repository/obj/project.assets.json
SweetPea.Repository/obj/project.nuget.cache
SweetPea.Repository/obj/SweetPea.Repository.csproj.nuget.dgspec.json
SweetPea.Repository/obj/SweetPea.Repository.csproj.nuget.g.props
SweetPea.Repository/obj/SweetPea.Repository.csproj.nuget.g.targets
SweetPeaAPI/bin/Debug/net6.0/appsettings.Development.json
SweetPeaAPI/bin/Debug/net6.0/appsettings.json
SweetPeaAPI/bin/Debug/net6.0/LoginService.deps.json
SweetPeaAPI/bin/Debug/net6.0/LoginService.dll
SweetPeaAPI/bin/Debug/net6.0/LoginService.exe
SweetPeaAPI/bin/Debug/net6.0/LoginService.pdb
SweetPeaAPI/bin/Debug/net6.0/LoginService.runtimeconfig.json
SweetPeaAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
SweetPeaAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
SweetPeaAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SweetPeaAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SweetPeaAPI/bin/Debug/net6.0/SweetPeaAPI.deps.json
SweetPeaAPI/bin/Debug/net6.0/SweetPeaAPI.dll
SweetPeaAPI/bin/Debug/net6.0/SweetPeaAPI.exe
SweetPeaAPI/bin/Debug/net6.0/SweetPeaAPI.pdb
SweetPeaAPI/bin/Debug/net6.0/SweetPeaAPI.runtimeconfig.json
SweetPeaAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SweetPeaAPI/obj/Debug/net6.0/apphost.exe
SweetPeaAPI/obj/Debug/net6.0/LoginService.AssemblyInfo.cs
SweetPeaAPI/obj/Debug/net6.0/LoginService.AssemblyInfoInputs.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.assets.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.csproj.AssemblyReference.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.csproj.CoreCompileInputs.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.csproj.FileListAbsolute.txt
SweetPeaAPI/obj/Debug/net6.0/LoginService.dll
SweetPeaAPI/obj/Debug/net6.0/LoginService.GeneratedMSBuildEditorConfig.editorconfig
SweetPeaAPI/obj/Debug/net6.0/LoginService.genruntimeconfig.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.GlobalUsings.g.cs
SweetPeaAPI/obj/Debug/net6.0/LoginService.MvcApplicationPartsAssemblyInfo.cache
SweetPeaAPI/obj/Debug/net6.0/LoginService.MvcApplicationPartsAssemblyInfo.cs
SweetPeaAPI/obj/Debug/net6.0/LoginService.pdb
SweetPeaAPI/obj/Debug/net6.0/ref/LoginService.dll
SweetPeaAPI/obj/Debug/net6.0/ref/SweetPeaAPI.dll
SweetPeaAPI/obj/Debug/net6.0/refint/LoginService.dll
SweetPeaAPI/obj/Debug/net6.0/refint/SweetPeaAPI.dll
SweetPeaAPI/obj/Debug/net6.0/staticwebassets.build.json
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.LoginService.props
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.SweetPeaAPI.props
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.LoginService.props
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.SweetPeaAPI.props
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.LoginService.props
SweetPeaAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.SweetPeaAPI.props
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.AssemblyInfo.cs
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.AssemblyInfoInputs.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.assets.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.csproj.AssemblyReference.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.csproj.BuildWithSkipAnalyzers
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.csproj.CopyComplete
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.csproj.CoreCompileInputs.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.csproj.FileListAbsolute.txt
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.dll
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.GeneratedMSBuildEditorConfig.editorconfig
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.genruntimeconfig.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.GlobalUsings.g.cs
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.MvcApplicationPartsAssemblyInfo.cache
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.MvcApplicationPartsAssemblyInfo.cs
SweetPeaAPI/obj/Debug/net6.0/SweetPeaAPI.pdb
SweetPeaAPI/obj/LoginService.csproj.nuget.dgspec.json
SweetPeaAPI/obj/LoginService.csproj.nuget.g.props
SweetPeaAPI/obj/LoginService.csproj.nuget.g.targets
SweetPeaAPI/obj/project.assets.json
SweetPeaAPI/obj/project.nuget.cache
SweetPeaAPI/obj/SweetPeaAPI.csproj.nuget.dgspec.json
SweetPeaAPI/obj/SweetPeaAPI.csproj.nuget.g.props
SweetPeaAPI/obj/SweetPeaAPI.csproj.nuget.g.targets
SweetPeaAPI/.vs/ProjectEvaluation/sweetpeaapi.metadata.v6.1
SweetPeaAPI/.vs/ProjectEvaluation/sweetpeaapi.projects.v6.1
SweetPeaAPI/.vs/SweetPeaAPI/config/applicationhost.config
SweetPeaAPI/.vs/SweetPeaAPI/DesignTimeBuild/.dtbcache.v2
SweetPeaAPI/.vs/SweetPeaAPI/FileContentIndex/05e8da14-27d1-4b46-bf79-7e3f04478a85.vsidx
SweetPeaAPI/.vs/SweetPeaAPI/FileContentIndex/299d2117-b43b-464c-9c73-30e6076db6b9.vsidx
SweetPeaAPI/.vs/SweetPeaAPI/FileContentIndex/47980e5b-4b7f-405f-ad53-2dc9e82b58e3.vsidx
SweetPeaAPI/.vs/SweetPeaAPI/FileContentIndex/8c05300a-4214-4023-8802-9f151b2567f1.vsidx
SweetPeaAPI/.vs/SweetPeaAPI/FileContentIndex/read.lock
SweetPeaAPI/.vs/SweetPeaAPI/v17/.suo
SweetPea.Persistence/obj/SweetPea.Persistence.csproj.nuget.g.targets
SweetPea.Persistence/obj/SweetPea.Persistence.csproj.nuget.g.props
SweetPea.Persistence/obj/SweetPea.Persistence.csproj.nuget.dgspec.json
SweetPea.Persistence/obj/project.nuget.cache
SweetPea.Persistence/obj/project.assets.json
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.pdb
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.GlobalUsings.g.cs
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.GeneratedMSBuildEditorConfig.editorconfig
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.dll
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.csproj.FileListAbsolute.txt
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.csproj.CoreCompileInputs.cache
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.csproj.AssemblyReference.cache
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.assets.cache
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.AssemblyInfoInputs.cache
SweetPea.Persistence/obj/Debug/net6.0/SweetPea.Persistence.AssemblyInfo.cs
SweetPea.Persistence/obj/Debug/net6.0/refint/SweetPea.Persistence.dll
SweetPea.Persistence/obj/Debug/net6.0/ref/SweetPea.Persistence.dll
SweetPea.Persistence/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SweetPea.Persistence/bin/Debug/net6.0/SweetPea.Persistence.pdb
SweetPea.Persistence/bin/Debug/net6.0/SweetPea.Persistence.dll
SweetPea.Persistence/bin/Debug/net6.0/SweetPea.Persistence.deps.json
